---
name: Metrics

on:
  schedule: [{cron: "0 * * * *"}]
  workflow_dispatch:
  push:

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@main
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: Robbilie
          template: classic
          base: header
          repositories_skipped: "ValtechMobility/jnlp-agent-jdk11, ValtechMobility/jnlp-agent-android, ValtechMobility/jnlp-agent-jdk8, ValtechMobility/jnlp-agent-node-chromium, ValtechMobility/jnlp-agent-kaniko, ValtechMobility/jnlp-agent-dind-aws, ValtechMobility/jnlp-agent-node, ValtechMobility/charts, ValtechMobility/github-team-sync, volkswagen-onehub/audi-myaudi-onehub-versions, volkswagen-onehub/audi-feature-app-setup-assistant"
          debug: yes
          debug_print: yes
          plugins_errors_fatal: yes
          config_timezone: Europe/Berlin
          plugin_languages: yes
          plugin_languages_analysis_timeout: 15
          plugin_languages_categories: markup, programming
          plugin_languages_colors: github
          plugin_languages_ignored: html, css
          plugin_languages_limit: 15
          plugin_languages_recent_categories: markup, programming
          plugin_languages_recent_days: 14
          plugin_languages_recent_load: 300
          plugin_languages_sections: most-used
          plugin_languages_threshold: 0%
          plugin_notable: yes
          plugin_notable_from: all
          plugin_notable_repositories: yes
          plugin_notable_types: commit,pull_request
          plugin_people: yes
          plugin_people_limit: 14
          plugin_people_shuffle: yes
          plugin_people_size: 28
          plugin_people_types: followers
          repositories_forks: yes
